* {
    margin: 0 0 0 0;
    padding: 0;
}
.menu li a {
    text-decoration: none;

}
.topo {
    overflow: hidden;
    background: #333;
    height: 10vh;
    margin-bottom: 20px;

}
.logo {
    float: left;
    width: 25%;
    position: relative;
}
.logo img {
    height: 60px;
    left: 50%;
    position: relative;
}
.topo nav {
    position: relative;
    float: left;
    width: 50%;
}
.menu {
    text-align: center;
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline-block;
}
.menu li a {
    font-size: 1.5rem;
    color: #fff;
    padding: 0 12px;
    border-right: solid 1px #ffffff;
}
.menu li a:hover {
    color: #f1d116;
}
.menu li:last-child a {
    border-right: none;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.logo, nav, .bt {
    top: 50%;
    transform: translate(0, -50%);
}

.bt {
    height: 50%;
    font-size: 1rem;
    position: relative;
    padding: 10px 30px;
    border: none;
    border-radius: 200px;
    background: #165bf1;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.bt::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    z-index: -2;

    background: conic-gradient(
        from var(--angle),
        red,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );

    opacity: 0;
    animation: girar 2s linear infinite paused;
    transition: opacity .3s;
}

.bt::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: inherit;
    background: #165bf1;
    z-index: -1;
}

.bt:hover::before {
    opacity: 1;
    animation-play-state: running;
}

@keyframes girar {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}